.enlaces-sociales__elemento{
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media screen and (min-width: 0){
    .enlaces-sociales__elemento{
        padding-right: 0.5rem;
    }

}

@media screen and (min-width: 992px){
    .enlaces-sociales__elemento{
        padding-right: 1.25rem;
    }
}

