.presentacion{
    padding: 1rem 0 1rem 0;
    display: flex;
    background-color: var(--background-color);
    margin-top: 1rem;
    margin-bottom: 1rem;
    justify-content: flex-end;
    align-items: center;
    color: var(--grey2);
    font-family: Raleway;
}