.formacion{
    width: 100vw;
    background-color: var(--banner-amarillo);
    margin: 0;
    margin-bottom: 2rem;
}

@media screen and (min-width: 0){
    .formacion{
        padding: 2rem 0 2rem 0;
    }
}

@media screen and (min-width: 768px){
    
}

@media screen and (min-width: 992px){
    .formacion{
        padding: 4rem 0 4rem 0;
    }
    
}